.header {
    background-image: url('../images/header.jpg');
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 3%;
    left: 0;
    z-index: 1;
    text-align: center;
    color: white;
}

.menu {
    left: 0;
    display: flexbox;
    height: 82vh;
}

.info {
    position: absolute;
    right: 0;
}

body {
    position: relative;
    margin-top: 15%;
    display: block;
    height: 100vh;
}

.content {
    margin: 20px;
}
