.login {
background-image: url(../images/loginBackground.jpg);
background-repeat: no-repeat;
height: 100vh;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 0;
padding: 30vh;
padding-left: 60vh;
padding-right: 60vh;
}

.form {
    background-color: gray;
}

